// Base colors
$primary:#6551FF;
$secondary:#F6F4FF;
$title:#212127;
$subtitle:#676767;

// Other colors
$success:#14AF10;
$warning:#FF9900;
$warning_light:#FF865F;
$warning_light_2:#FFF2EC;
$white : #ffffff;
$black : #000000;
$info : #33b5e5;
$red : #FF1D15;
$danger: #FF5F74;

//input
$input_bg: #F5F7FD;
$input_border: #597DFC4D;