<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div class="main">
<div class="k-layout">
    <div class="k-layout__header">
        <div class="container h-full">
            <div class="k-header">
                <a class="k-header__logo" href="#">
                    <img class="k-header__logo-img" src="../assets/images/logo/keeno.svg" alt="Keeno">
                </a>

                <ul class="k-header__list">
                    <li class="k-header__list-item">
                        <button class="k-header__btn">
                            English
                            <i class="mdi mdi-chevron-down pl-2"></i>
                        </button>
                    </li>
                    <li class="k-header__list-item">
                        <button class="k-header__btn">
                            <i class="mdi mdi-wechat"></i>
                            Chat
                        </button>
                    </li>
                    <li class="k-header__list-item">
                        <button class="k-header__btn">
                            <i class="mdi mdi-account"></i>
                            Login
                        </button>
                    </li>
                    <li class="k-header__list-item">
                        <button class="k-header__btn">
                            <i class="mdi mdi-camera"></i>
                            Sell Product
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="k-layout__inner"></div>
    <div class="k-layout__footer"></div>
</div>
</div>
</body>
</html>