.w-full {
    width: 100% !important;
}

.w-max-content {
    width: max-content !important;
}

.w-min-content {
    width: min-content !important;
}

.d-block {
    display: block;
}

.w-1 {
    width: 1rem;
}

.w-2 {
    width: 2rem;
}